@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #323232;
  --background-color: #ececec;
  --title-color: #252525;
  --card-color: #d9d9d9;
  --input-bg-color: #ececec;
  --input-fg-color: #323232;
  --input-placeholder-color: #8d8d8d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #dededf;
    --background-color: #323232;
    --title-color: #f2f2f2;
    --card-color: #5d5d5d;
    --input-bg-color: #eaeaea;
    --input-fg-color: #323232;
    --input-placeholder-color: #8d8d8d;
  }
}
